body {
    max-width: 750px;
    padding-left: 1rem;
    padding-right: 1rem;
}

ol {
    padding-left: 1.5rem;
}

li {
    margin-bottom: 0.75rem;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

#search-banner {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--muted)
}


#raw-snippets {
    margin-top: 2rem;
    margin-bottom: 3rem;
    word-break: break-all;
}

#raw-snippet-list {}

#pagination {
    margin-bottom: 3rem;
}