body {
    max-width: 750px;
    padding-left: 1rem;
    padding-right: 1rem;
}

ol {
    padding-left: 1.5rem;
}

li {
    margin-bottom: 0.75rem;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

#raw-snippet-list {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

#pagination {
    margin-bottom: 3rem;
}