:root {
    --body-width: 1400px;
}


/* Search banner */
#search-banner {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--muted)
}


/* Snippet Cards */
.snippets-card-container {
    --row-count: 4;
    --item-width: calc(var(--body-width) / var(--row-count) - var(--gap));
    --gap: 1.5rem;

    display: grid;
    gap: var(--gap);
    margin: 0 auto;
    margin-bottom: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(var(--item-width), 1fr));
    max-width: calc((var(--item-width) * var(--row-count)) + (var(--gap) * (var(--row-count) - 1)));
    justify-items: center;
    width: 100%;
}

.snippet-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* max-width: 350px; If used gap will be inconsistent */
    /* aspect-ratio: 1 / 1; */
    border: 1px solid var(--border);
    border-radius: 6px;
    overflow: hidden;
    /* background-color: var(--border); */
}

.snippet-card-thumbnail {
    display: block;
    width: 100%;
    height: fit-content;
    aspect-ratio: 16 / 9;
    background-color: var(--surface);
    box-sizing: border-box;
}

.snippet-card-thumbnail img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
}

.snippet-card-title {
    --margin: 0.75rem;
    display: flex;
    height: 5rem;
    width: calc(100% - var(--margin) * 2);
    margin: 0.2rem var(--margin) 0.75rem var(--margin);
    margin-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    line-height: 1.4;
    flex: 1;
    min-height: 5.5rem;
}

.snippet-card-title div {
    height: fit-content;
    width: 100%;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/* Tags */
.snippet-card-tags {
    display: flex;
    margin: 0 0.75rem;
    height: 2.25rem;
    gap: 0.5rem;
    white-space: nowrap;
    /* -webkit-text-fill-color: black; */
    overflow-x: scroll;
    color: transparent;
}

.snippet-card-tags::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.snippet-card-tags::-webkit-scrollbar-thumb {
    border: 8px solid;
    border-radius: 1rem;
}

.snippet-card-tags::-webkit-scrollbar-thumb:hover {
    color: darkgray;
}

.snippet-card-tags:active,
.snippet-card-tags:hover,
.snippet-card-tags:focus {
    color: lightgray;
}


/* Card Loading */
.is-loading .snippet-card-thumbnail,
.is-loading .snippet-card-title div,
.is-loading .tag {
    background: var(--surface);
    background: linear-gradient(90deg,
            var(--surface) 25%,
            color-mix(in srgb, var(--surface), white 4%) 50%,
            var(--surface) 75%);
    background-size: 200% 100%;
    -webkit-animation: 2s shine linear infinite;
    animation: 2s shine linear infinite;
    color: transparent;
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.is-loading .snippet-card-title {
    cursor: default;
}

.is-loading .snippet-card-title div {
    width: 100%;
    height: 2rem;
    border-radius: 3px;
}

.is-loading .snippet-card-thumbnail img {
    visibility: hidden;
}


@-webkit-keyframes shine {
    to {
        background-position-x: -200%;
    }
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}