html {
    height: 100%;
}

body {
    height: 100%;
    box-sizing: border-box;
    padding: 1.5rem 1rem !important;
    display: flex;
    flex-direction: column;
    max-width: 1400px !important;
}

#contacts-wrapper {
    flex: 1;
    align-content: center;
}

#contacts-wrapper h1 {
    margin: 0 0 4rem 0;
    text-align: center;
}

#contacts-wrapper a {
    color: var(--color-text-muted);
    text-decoration: none;
}

#contacts {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    font-size: 2.25rem;
    gap: 2.25rem;
    font-weight: normal !important;
}

#author {
    font-size: 0.9rem;
    text-align: center;
    color: var(--color-text-muted);
}