html {
    height: 100%;
}

body {
    height: 100%;
    box-sizing: border-box;
    padding: 1.5rem 1rem !important;
    display: flex;
    flex-direction: column;
    max-width: 1400px !important;
}

#contacts-wrapper {
    flex: 1;
    align-content: center;
}

#contacts-wrapper h1 {
    margin: 0 0 3rem 0;
    text-align: center;
}

#contacts {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    font-size: 2.25rem;
    gap: 2.25rem;
    font-weight: normal !important;
}

#contacts a {
    color: var(--color-text-muted);
    text-decoration: none;
    background-size: contain;
    height: 3rem;
    width: 3rem;
    background-color: var(--color-text-muted);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-size: contain;
}

#contacts a:hover {
    background-color: var(--color-accent);
}

#website-contact {
    -webkit-mask-image: url('/static/earth-icon.png');
    mask-image: url('/static/earth-icon.png');

}

#linkedin-contact {
    -webkit-mask-image: url('/static/linkedin-icon.png');
    mask-image: url('/static/linkedin-icon.png');
}

#instagram-contact {
    -webkit-mask-image: url("/static/instagram-icon.png");
    mask-image: url("/static/instagram-icon.png");
}

#github-contact {
    -webkit-mask-image: url("/static/github-icon.png");
    image: url("/static/github-icon.png");
}

#email-contact {
    -webkit-mask-image: url("/static/email-icon.png");
    image: url("/static/email-icon.png");
}

#author {
    font-size: 0.9rem;
    text-align: center;
    color: var(--color-text-muted);
}