body {
    padding: 1.5rem 1rem !important;
    max-width: 1000px;
}

#about h1 {
    margin: 3rem 0 2rem 0;
    text-align: center;
}

#about p {
    margin: auto;
    text-align: center;
    max-width: 900px;
    color: var(--muted);
    line-height: 1.5;
}

#about ol {
    margin: auto;
    width: fit-content;
    color: var(--muted);
    line-height: 1.4;
}

#about a {
    color: var(--muted);
    text-decoration: none;
}

#about a:hover {
    color: var(--accent-muted);
}

#footer-seperator {
    margin-top: 2.5rem;
}

#footer-links {
    margin-bottom: 0 !important;
}

#built-with {
    color: var(--muted);
    text-align: center;
    font-size: 0.85rem;
    margin-top: 3rem;
}

#built-with a {
    text-decoration: underline;
    color: var(--muted);
    font-weight: bold;
}

#built-with a:hover {
    color: var(--accent-muted);
}