body {
    padding: 1.5rem 1rem !important;
}

h1 {
    margin: 3rem 0 2rem 0;
    text-align: center;
}

p {
    margin: auto;
    text-align: center;
    max-width: 900px;
    color: var(--muted);
    line-height: 1.5;
}

ol {
    margin: auto;
    width: fit-content;
    color: var(--muted);
    line-height: 1.4;
}

a {
    color: var(--muted);
    text-decoration: none;
}

#footer-seperator {
    margin-top: 5rem;
}

#footer-links {
    margin-bottom: 0 !important;
}

#footer-warning {
    display: none;
}