/* Core */
:root {
    --bg: #0f1115;
    --surface: #2b2f3b;
    --text: #e6e6e6;
    --muted: rgb(122, 124, 129);
    --border: rgb(85, 88, 100);
    --accent: #7dd3fc;
    --accent-muted: #60a4c4;
    --accent-dull: #233c4f;
    --body-width: 1000px;
    --project-gaps: 10px;
    --exp-item-margin: 1rem;
    --body-width-padding: 1.25rem;
}

body {
    font-family: system-ui, sans-serif;
    background: var(--bg);
    color: var(--text);
    margin: 0 auto;
    padding: 1.5rem var(--body-width-padding);
    max-width: var(--body-width);
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    color: var(--accent);
}

input[type=text] {
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: 2px solid var(--border);
    background-color: transparent;
    color: var(--text);
    padding: 0 0.5rem;
    font-size: 1rem;
}

hr {
    border: 0;
    border-top: 1px solid var(--border);
    margin: 0;
}



/* Header */
#site-header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 16px;
    margin: 0 auto 1.5rem auto;
    width: fit-content;
    /* text-decoration: none; */
}

#site-logo {
    grid-row: 1 / span 2;
    width: 2.5rem;
}

#site-title {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
    color: var(--text);
    align-self: end;
    /* text-decoration: none; */
    font-weight: bold;
}

#site-motto {
    font-size: 0.9rem;
    color: var(--accent);
}



/* Navigation */
#navbar {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    /* padding: 1rem 0; */
}

#navbar a {
    /* text-decoration: none; */
    font-weight: 500;
    height: 2.5rem;
    display: flex;
    align-items: center;
    /* min-width: 3rem; */
    justify-content: center;
    padding: 0 1rem;
}



/* Search bar */
.search-wrapper {
    display: flex;
    align-items: center;
    margin: 0 auto 2rem auto;
    width: 100%;
    max-width: 425px;
    height: 2rem;
    border: 1px solid var(--border);
    border-radius: 4px;
    overflow: hidden;
}

#search {
    flex: 1;
    height: 100%;
    border: none;
    padding: 0 0.5rem;
    outline: none;
}

.search-btn {
    height: 100%;
    border: none;
    border-left: 1px solid var(--border);
    background-color: transparent;
    padding: 0 0.75rem;
    cursor: pointer;
}

.search-btn:active {
    background: var(--accent)
}


/* Snippets */
#snippet-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 2rem;
    column-gap: 1.5rem;
    margin-bottom: 3rem;
}

#snippet-thumbnail {
    border: 1px solid var(--border);
    border-radius: 5px;
    flex: 1;
    aspect-ratio: 16 / 9;
    align-self: center;
    box-sizing: border-box;
    display: block;
    max-width: 100%;
}

#snippet-card-title-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    min-width: min(calc(100vw - calc(var(--body-width-padding) * 2)), 370px);
}

#snippet-card-title {
    display: inline-block;
    margin: 0;
    margin-bottom: 1.25rem;
    word-wrap: break-word;
    font-size: 1.8rem;
}

#snippet-author {
    font-weight: bold;
    margin-bottom: 1.25rem;
    font-size: 1.3rem;
    color: var(--muted);
    width: fit-content;
}

#snippet-author:not(.snippet-no-author):hover {
    color: var(--accent-muted);
}

#snippet-creation-date,
#snippet-update-date {
    color: var(--muted);
    line-height: 1.4;
    width: fit-content;
    /* font-size: 1.1rem; */
}

#snippet-content {
    margin-bottom: 3rem;
    font-size: 1.125rem;
    line-height: 1.5;
}



/* Tags */
.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag {
    display: inline-block;
    background-color: var(--accent-dull);
    box-sizing: border-box;
    border-radius: 3px;
    padding: 4px 6px;
    /* text-decoration: none; */
    height: fit-content;
    margin-bottom: 3px;
    font-size: 0.75rem;
    width: fit-content;
    font-weight: 500;
    color: var(--text)
}

.tag:hover {
    background-color: var(--accent-muted);
    color: var(--bg);
    cursor: pointer;
}



/* Pagination */
#pagination {
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    gap: 4px;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.pagination-item,
.pagination-dots,
.pagination-prev,
.pagination-next {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2rem;
    height: 2rem;
    padding: 0.25rem;
    font-size: 0.9rem;
    font-weight: 500;
    /* text-decoration: none; */
    color: var(--text);
    border: 1px solid var(--border);
    border-radius: 3px;
    box-sizing: border-box;
    position: relative;
}

.pagination-next:hover,
.pagination-prev:hover,
.pagination-item:hover {
    background-color: var(--border);
    color: var(--text);
}

.pagination-active {
    background-color: var(--accent);
    border-color: var(--accent);
    color: var(--bg);
    cursor: default;
    pointer-events: none;
}

.pagination-dots {
    border: none;
}

.pagination-prev::before,
.pagination-next::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    border-style: solid;
    border-color: var(--text);
}

.pagination-prev::before {
    border-width: 2px 0 0 2px;
    transform: translate(-30%, -50%) rotate(-45deg);
}

.pagination-next::before {
    border-width: 2px 2px 0 0;
    transform: translate(-70%, -50%) rotate(45deg);
}



/* Footer */
footer {
    padding-top: 2rem;
}

#footer-logo-wrapper {
    display: block;
    width: 2rem;
    margin: 0 auto 2rem auto;
}

#footer-logo {
    display: block;
    width: 100%;
    opacity: 0.5;
}

#footer-links {
    display: flex;
    gap: 0.5rem;
    margin: 0 auto;
    width: fit-content;
}

#footer-links a {
    /* text-decoration: none; */
    color: var(--muted);
    font-weight: 500;
}

#footer-links a:hover {
    color: var(--accent-muted);
}

#footer-links hr {
    display: block;
    margin: 0 1rem;
    opacity: 0.75;
    border: 1px solid var(--muted);
}

#footer-warning {
    width: fit-content;
    color: var(--muted);
    font-size: 0.85rem;
    margin: 0 auto;
    text-align: center;
}

#footer-warning a {
    color: var(--muted);
    font-weight: 500;
    text-decoration: underline;
}

#footer-warning a:hover {
    color: var(--accent-muted);
}